.container{
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-shadow: inset 2px 2px 40px 10px lightblue;
    border-radius: 10px;
}
.todotext{
    outline: none;
    padding: 8px;
    width: 300px;
    border-radius: 10px;
}
.tododate{
    border-radius: 10px;
    outline: none;
    padding: 8px;
    width: 200px;
}
.addbtn{
    outline: none;
    border: none;
    padding-inline: 16px;
    cursor: pointer;
    padding-block: 8px;
    background-color: rgb(17, 185, 121);
    color: white;
    border-radius: 9px;
    font-size: 12px;
    box-shadow: 0 0 4px 1px rgb(15, 168, 109);
}
.addbtn:hover{
    box-shadow: 0 0 4px 1px rgb(6, 84, 66);
    background-color: rgb(10, 174, 111);    
}