body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 2px 2px 200px 100px rgb(41, 154, 192);
    width: 700px;
}